*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    
}




.header{    
    background-image: url("img/eto.png");
    background-size: cover;
    background-position: center;

    /*GRID*/
    display: grid;
    grid-template-columns: 1fr 1fr;  
    grid-template-rows: 150px 636px;
}

.logo {


    /*GRID*/
    display: grid;
    grid-column: 1/2;

}

.logo img{
    width: 400px;
    margin-top: -40px;
    margin-left: -30px;
}

.navigator{
    margin-top: 50px;
    
  
    

    /*GRID*/
    display: grid;
    grid-column: 2/3;
    justify-items: center;
   
}

nav ul li {
    text-decoration: none;
    display: inline;
    padding: 0px 20px;
    
}

nav ul li a{
    color: white;
    font-size: 40px;
    text-decoration: none;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
 
}



a:hover{
    color: black;
    text-shadow: 0px 4px 10px pink;
    
}


.content{
    position: relative;

    display: grid;
    grid-column: 1/3;
    grid-row: 2/3;
    display: inline-block;
    
    
}

.content img{
    left: 200px;
    position: absolute;
    animation: spin 2s linear infinite;
}


@keyframes spin{
    100%{
        transform: rotate(360deg);
    }
}



.content h1{
    margin-top: 100px;
    margin-left: 300px;
    color: white;
    font-size: 70px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    text-shadow: 0px 5px 1px black;

}



.candys{


    /*GRID*/
    display: grid;
    grid-column: 1/3;
    grid-row:4/5;
}

.content2{
    background-image: url("img/gen.jpg");
    position: relative;
}

.title{
    position: absolute;
    top: 40px;
    left: 41%;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:80px;
    text-shadow: 0px 3px 10px black;
    border-bottom: 10px solid black;
    border-radius: 20px;

}


.store{
    background-image: url("img/arat.png");
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    height: 100vh;
    padding: 0px 0px 120px 0px;

    
    


    /*GRID*/
    display: grid;
    grid-column: 1/3;
    grid-row: 3/4;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: end;
    
}

.candy1{
    margin-left: 300px;
    margin-bottom:-80px;
    width: 200px;
    height: 260px;
    background-image: url("img/eto.png");
    background-size:cover ;
    box-shadow: 0px 5px 10px black;
    border-radius: 20px;
    margin-top: 50px;
    
    
  

    /*GRID*/
    display: grid;
    grid-column: 1/2;
    grid-row: 1/2;
    justify-items: center;
}

.candy1 img{
    margin-top: 30px;
    width: 120px;
    height: 120px;
    border-radius: 10%;
    box-shadow: 0px 5px 5px black;
    

}



.candy2{
    margin-bottom: -80px;
    width: 200px;
    height: 260px;;
    background-image: url("img/eto.png");
    background-size:cover ;
    box-shadow: 0px 5px 10px black;
    border-radius: 20px;


    /*GRID*/
    display: grid;
    grid-column: 2/3;
    grid-row: 1/2;
    justify-items: center;
}

.candy2 img{
    margin-top: 30px;
    width: 120px;
    height: 120px;
    border-radius: 10%;
    box-shadow: 0px 5px 5px black;
  
    
}


.candy3{
    margin-right: 300px;
    margin-bottom: -80px;
    width: 200px;
    height: 260px;
    background-image: url("img/eto.png");
    background-size:cover ;
    box-shadow: 0px 5px 10px black;
    border-radius: 20px;

    /*GRID*/
    display: grid;
    grid-column: 3/4;
    grid-row: 1/2;
    justify-items: center;
}

.candy3 img{
    margin-top: 30px;
    width: 120px;
    height: 120px;
    border-radius: 10%;
    box-shadow: 0px 5px 5px black;
    
    

}


.candy4{
    margin-left: 300px;
    width: 200px;
    height: 260px;
    background-image: url("img/eto.png");
    background-size:cover ;
    box-shadow: 0px 5px 10px black;
    border-radius: 20px;

    /*GRID*/
    display: grid;
    grid-column: 1/2;
    grid-row: 2/3;
    justify-items: center;
}

.candy4 img{
    margin-top: 30px;
    width: 120px;
    height: 120px;
    border-radius: 10%;
    box-shadow: 0px 5px 5px black;
    
    

}


.candy5{
    width: 200px;
    height: 260px;
    background-image: url("img/eto.png");
    background-size:cover ;
    box-shadow: 0px 5px 10px black;
    border-radius: 20px;

    /*GRID*/
    display: grid;
    grid-column: 2/3;
    grid-row: 2/3;
    justify-items: center;
}

.candy5 img{
    margin-top: 30px;
    width: 120px;
    height: 120px;
    border-radius: 10%;
    box-shadow: 0px 5px 5px black;
  
    

}


.candy6{
    margin-right: 300px;
    width: 200px;
    height: 260px;
    background-image: url("img/eto.png");
    background-size:cover ;
    box-shadow: 0px 5px 10px black;
    border-radius: 20px;
    

    /*GRID*/
    display: grid;
    grid-column: 3/4;
    grid-row: 2/3;
    justify-items: center;
}

.candy6 img{
    margin-top: 30px;
    width: 120px;
    height: 120px;
    border-radius: 10%;
    box-shadow: 0px 5px 5px black;
    
    

}

.hover1{
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 0.1cm;
    text-shadow: 0px 3px 2px black;
}

.Level3{
    background-image: url("img/blues.png");
    position: relative;
}


.maps{
    height: 95vh;
    background-image: url("img/level3.png");
    /*GRID*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.mapptitle{
    position: absolute;
    top: 0px;
    left: 38%;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:80px;
    text-shadow: 0px 3px 10px black;
    border-bottom: 10px solid black;
    border-radius: 20px;
}


iframe{
    width: 400px;
    padding-top: 5px;
}

.map1{
    width: 310px;
    height: 400px;
    background-color:#e3aaeb;
    border-radius: 10px;
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 0px 4px 5px black;
    box-shadow: 0px 1px 10px skyblue;

    /*GRID*/
    grid-column: 1/2;
    display: grid;
    justify-items: center;
    
    
}


.mappy{
    width:300px;
}

.map2{
    width: 310px;
    height: 400px;
    background-color:#e3aaeb;
    border-radius: 10px;
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 0px 4px 5px black;
    box-shadow: 0px 5px 5px skyblue;

    /*GRID*/
    grid-column: 2/3;
    display: grid;
    justify-items: center;
}

.map3{
    width: 310px;
    height: 400px;
    background-color: #e3aaeb;
    border-radius: 10px;
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 0px 4px 5px black;
    box-shadow: 0px 5px 5px skyblue;

    

    /*GRID*/
    grid-column: 3/4;
    display: grid;
    justify-items: center;
    
}


.footer{
    height: 100px;
    background-color: black;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    display: grid;
    justify-items: center;
    align-items: center;
}





/* MEDIA QUERY*/


@media (min-width:700px)and (max-width:1021px){

    .header{    
        background-image: url("img/eto.png");
        background-size: cover;
        background-position: center;
    
        /*GRID*/
        display: grid;
        grid-template-columns: 1fr;  
        grid-template-rows: 1fr 1fr 636px;
    }
    
    .logo {
    
    
        /*GRID*/
        display: grid;
        place-items: center;
        grid-column: 1/2;
        grid-row: 1/2;
    
    }
    
    .logo img{
        width: 400px;
        margin-top: -40px;
        margin-left: -30px;
    }
    
    .navigator{
        
      
        
    
        /*GRID*/
        display: grid;
        grid-column: 1/2;
        grid-row: 2/3;
        justify-items: center;
       
    }

    .content{
        position: relative;
    
        display: grid;
        grid-column: 1/3;
        grid-row: 3/4;
        display: inline-block;
        
        
    }

}



@media (min-width:768px) and (max-width:375){

    
}

